/* reset for all element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}
/* fonts library */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* animation  */
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

body {
    font-family: 'Montserrat', sans-serif;
}
.mainColor {
    color: #f1c50e;
}

.bgColor {
    background-color: #fef9e6;
}

.secundBg {
    background: #f1c50e;
}

.whiteBg {
    background-color: #fff;
}

.fluid-container {
    width: 100%;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    transition: .3s ease-in;
}

.opacity {
    opacity: 50%;
}

i {
    cursor: pointer;
}

.btn {
    display: block;
    margin: 25px auto 0;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    transition: .3s ease;
}

.btn:hover {
     box-shadow: 5px 5px 10px 0px black;
     transform: scale(1.1);
     transition: .3s ease;
}
i {
    transition: .3s ease;
}
i:hover {
    transform: scale(1.1);
}
/* header styles */

  
.header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}
.header .icon {
    width: 100%;
    /* height: 25px; */
    padding-top: 12.5px;
    
    cursor: pointer;
    margin: 0 auto;
    
    transition: .3s ease;
}

.icon:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.header .icon span {
    display: block;
    width: 25px;
    height: 5px;
    background: black;
    margin: 5px auto;
    opacity: 50%;
}

.nav {
    width: 100%;
}
.header .ul {
    margin: 0 auto;
    width: 100%;
    color: #fff;

    text-align: center;
    list-style: none;
    position: relative;
    height: 100vh;
}

.ul::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 90%;
    z-index: -1;
}

.header .ul li {
    padding: 20px;
}
.header .ul li a {
    width: 100%;
    display: inline-block;
}

.header .ul li:hover {
    background: #f1c50e;
}
/* header styles end */

/* main section style */
.main {
    background: url(../images/front-view-kid-wearing-party-hat_23-2149477945.jpeg) no-repeat;
    height: 650px;;
    display: flex;
    align-items: flex-end;
    background-size: cover;
}

.content-container {
    animation: slideIn 1.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    margin-bottom: 50px;
    width: 55%;
    height: 50%;
    border-radius: 0 50px 50px 0;
    text-align: center;
    z-index: 1;
}
.content {
    margin: 10% 25%;
    text-align: left;
}

.main .content-container .content h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    font-weight: 400;
}
.main .content-container .content h2{
    font-size: 4rem;
    margin-bottom: 25px;
}
.hidden {
    display: none; 
  }


/* main section style end */


/* what we do sectin styles */
.whatWeDo,.services {
    background: url(../images/Untitled-1.jpg) no-repeat ;
    background-size: cover;
    padding-bottom: 50px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    text-align: center;
    align-content: center;
}


.cardsContainer h5 {
    margin-top: 25px;
    margin-bottom: 25px;
}
/* what we do sectin styles end*/


/* team section start */
.team .teamContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.team .teamContent .teamCard {

    margin-bottom: 25px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
    
.team .teamContent .teamCard img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 15px auto;
}
.team .teamContent .teamCard h5 {

    font-size: 2rem;
    margin-bottom: 20px;
}
.team .teamContent .teamCard span {
    display: block;
    margin-bottom: 20px;

}
.team .teamContent .teamCard i {
    font-size: 2rem;
}

.infoCard p{
    padding: 25% 0;
}
.infoCard .mainColor {
    display: inline;
}
/* team section end */

/* gallery section */
.gallery {
    margin-bottom: 50px;
}
.gallery .gallery-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .gallery-container img {
    max-width: calc(90%/3);
    height: 325px;
    margin-bottom: 25px;
}

.gallery .vioMore {
    text-align: center;
    margin-top: 25px;
}
/* gallery section end */

/* book section */
.book {
    min-height: 350px;
    max-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book .container {
    margin: 50px auto;

}

.book h1{
    font-size: 4rem;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
.book p {
    font-size: 2rem;
    margin: 35px 0;
}
/* book section end */

/* services section  */


.services .cardsContainer {
    padding-top: 75px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}

.services .servicesCard {
    
    height: 250px;
}
/* services section end */

/* .what Parents Say section*/
.whatParentsSay {
    padding: 50px 0;
    margin-top: 50px;

}

.whatParentsSay .container {
    width: 95%;

}
.whatParentsSay .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}
.parentsCard {
 
    
    padding: 50px;
    margin-bottom: 25px;
}
.parentsCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
}

.parentsCard h5 {
    font-size: 2rem
}

.parentsCard .line {
    display: block;
    width: 90%;
    height: 5px;
    margin: 25px auto;
}
/* .what Parents Say section end*/

/* statstics section   */
.statisticsCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%,1fr));
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    gap: 25px;
}

.statisticsCard-container .statisticsCard {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-bottom: 50px;
}
.statisticsCard-container .statisticsCard h1 {
    color: #fff;
    font-size: 3rem;
}
.statisticsCard-container .statisticsCard i {
    font-size: 3rem;
}
/* statstics section  end */

/* form section */
.form {
    background: url(../images/close-up-little-girl-having-fun-birthday-party_1098-1319.jpeg) no-repeat;
    background-size: cover;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.form .form-container {
    width: 50%;
    margin: 50px 25px;
    border-radius: 0 50px 50px 0;

}
.form .from-content {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 100px;
}

.from-content h1 {
    margin-bottom: 25px;
}

.from-content form {
    display: flex;
    flex-direction: column;
}

.from-content form input {
    margin-bottom: 25px;
    border-radius: 50px;
    height: 35px;
    border: none;
    background: beige;
    padding-left: 15px;
}

.from-content .btn {
    display: block;
    margin: 0 0 25px 0;

    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #f1c50e;
    cursor: pointer;
}

/* form section end */

@media  (max-width:778px) {
    .form-container {
        min-width: 75%;
    }

    .form .from-content {
        margin: 25px 25px 25px 50px;
    }

    .main .content{
        margin: 10%;
    } 

    .main .content-container .content h1 {
        font-size: 3rem;

    }
    .main .content-container .content h2 {
        font-size: 2rem;
    }

    .book .container h1 {
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .book .container p {
        font-size: 1rem;
    }
}
